@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    /* background-color: black; */
}

.navbar {
    position: absolute !important;
    z-index: 999;
    width: 100%;
}

.navbar-collapse {
    flex-grow: 0;
}

.navbar-brand .site-logo {
    max-width: 100px;
    width: 100%;
}

.middle-banner {
    height: 90px;
    color: white;
    background-color: #4CAF50;
    h2 {
        font-family: 'Roboto', sans-serif;
        letter-spacing: 1px;
        font-weight: 300;
    }
}

/* styles acordion */


.container {
    max-width: 5020px;
    height: 700px;
    display: flex;
    justify-content: center;
}
.single {
    padding: 0 4rem;
    display: grid;
    place-content: center;
    width: 1200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
    transition: 800ms ease-in-out width;
}
.single::before {
    content: '';
    position: absolute;
    inset: 0;
    transition: 500ms ease-in-out background-color;
}



.single:nth-child(1) {
    background-image: url("../images/orange.png");
}
.single:nth-child(2) {
    background-image: url("/assets/images/mandarina.png");
}
.single:nth-child(3) {
    background-image: url(/assets/images/toronja.png);
}
.single:nth-child(4) {
    background-image: url(/assets/images/lemon.png);
}


.content {
    transition: 500ms ease-in-out transform;
}

p {
    color: #fff;
    padding: 0;
    border-radius: .5rem;
    border: none;
    height: 0;
    overflow: hidden;
    transition: 500ms ease-in-out height,
                500ms ease-in-out padding;
}

h2 {
    text-align: center;
    color: #f0f8ff;
    margin-bottom: 1rem;
    transform: scale(1);
    transition: 500ms ease-in-out transform;
}
h1{

    font-size:xx-large;
color: #f0f8ff;
padding: 0;
border-radius: .5rem;
border: none;
height: 0;

overflow: hidden;
transition: 500ms ease-in-out height,
            500ms ease-in-out padding;
}



.single:hover {
    width: 1700px;
}
.single:hover::before {
    background-color: rgba(0, 0, 0, .3);
}
.single:hover .content {
    transform: rotate(0);
}

.single:hover h1 {
    height: 20%;
    padding: 4px;
}

.single:hover h2 {

    text-align: left;
    transform: scale(1);
}
.single:hover p {
    height: 100%;
    padding: 1rem;
    text-align: left;
}
.single:hover img {
    display: none;
}